
/*-----------------------------------------------------------------------全域---*/

html{font:300 12pt 微軟正黑體,Arial;width:100%}
body{font:300 12pt 微軟正黑體,Arial;width:100%;-webkit-text-size-adjust: none;background:#007BC1}
a{font:300 12pt 微軟正黑體,Arial;text-decoration:none}

/*-----------------------------------------------------------------------頁首---*/

aside{max-width:1024px;width:95%;margin:0 auto;padding:50px 0;background:url(../images/back.png) 5px 49px no-repeat;
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease}
aside a{color:#fff;font:300 20pt 微軟正黑體,Arial;display:block;width:190px;padding:0 0 0 50px;text-shadow:0 0 1px #005585;
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease}
aside:hover{background:url(../images/back.png) 0 49px no-repeat}

/*-----------------------------------------------------------------------頁身---*/

article{display:table;width:95%;margin:0 auto;color:#fff;}
#vert{display:table-cell; vertical-align:middle}

.flt{overflow:hidden;margin:0 auto;clear:both;width:95%;max-width:1024px;margin:0 auto}
#form-1 .text,#form-2 .text{width:100%;border:none;border-bottom:1px solid #124F74;background:none;color:#C7E50A}

#bubble{background:url(../images/contact.jpg) center 0 no-repeat;background-size:contain;float:left;width:40%;height:395px}
#info{float:right;width:55%}

.title{float:left;width:40%;text-align:center;}
.title h3{color:#fff;text-shadow:0 2px 0 #00649D}

#form-2 input[type="checkbox"] {display:none}
#form-2 input[type="checkbox"] + label span {display:inline-block;width:20px;height:20px;margin:-5px 10px 0 0;vertical-align:middle;background:#fff;cursor:pointer;border-radius:5px}
#form-2 input[type="checkbox"]:checked + label span {background:url(../images/check.png) center center no-repeat #fff}

#send{width:100%;text-align:center}
#send a{width:75%;max-width:300px;height:103px;background:url(../images/contact-send.jpg) 0 0 no-repeat;border:none;padding:0;margin:0 auto;text-indent:-9999px;cursor:pointer;background-size:contain;display:block;}
#send a:hover{background:url(../images/contact-send2.jpg) 0 0 no-repeat;background-size:contain}
#send a:active{background:url(../images/contact-send2.jpg) 0 0 no-repeat;position:relative;top:2px;background-size:contain}

.sendTicket:hover{ background:url(../images/contact-send2.jpg) 0 0 no-repeat;background-size:contain }


/*-----------------------------------------------------------------------頁腳---*/

footer{width:100%;height:300px;position:relative;overflow:hidden;}
.parallax-layer{position:absolute;left:0;width:100%;background-position:center 0}
#cloud-bg-b{background-image:url(../images/cloud-bg-b2.png);background-repeat:repeat-x;height:197px;bottom:20%;z-index:1}
#cloud-bg-f{background-image:url(../images/cloud-bg-f.png);background-repeat:repeat-x;height:210px;bottom:0;z-index:2}
#p-cloud{background-image:url(../images/cloud2.png);background-repeat:no-repeat;height:103px;top:0;z-index:3}
#earthman{background-image:url(../images/earthman.png);background-repeat:no-repeat;bottom:40px;z-index:4;background-size:contain;
-webkit-transition:all ease .5s;
-moz-transition:all ease .5s}

/*-----------------------------------------------------------------------適應---*/

@media screen and (max-width: 581px){	
article{font:300 21px "微軟正黑體";line-height:1.7em}
#form-1 .text,#form-2 .text{font:300 21px "微軟正黑體"}
#flt-2,#flt-3{padding:10% 0;border-top:1px solid #fff}

#bubble{width:100%;height:150px;}
#info{width:100%;padding:0 0 10% 0;}	
#info h2{font:300 38px "微軟正黑體"}
#info strong{font:300 50px "微軟正黑體"}

.title{width:100%;text-align:center}
.title h3{font:300 60px "微軟正黑體"}
.title p{color:#124F74;height:50px}

.form{width:100%;border:none}

#form-1 ol{padding:0}
#form-1 ul{width:100%;overflow:hidden;margin:0 auto}
#form-1 .name{float:left;width:20%}
#form-1 .enter{float:left;width:80%}

#form-2{overflow:hidden;padding:0}
#form-2 div{}
#form-2 #other-right{width:100%}

#send{padding:0}
#earthman{display:none}
}

@media screen and (min-width: 582px) and (max-width: 1023px){
article{font:300 24px "微軟正黑體";line-height:1.7em}
#form-1 .text,#form-2 .text{font:300 24px "微軟正黑體"}
#flt-2,#flt-3{padding:10% 0;border-top:1px solid #fff}

#info h2{font:300 41px "微軟正黑體"}
#info strong{font:300 53px "微軟正黑體"}

.title{width:100%;text-align:center}
.title h3{font:300 75px "微軟正黑體"}
.title p{color:#124F74;height:50px}

.form{width:100%;border:none}

#form-1 ol{padding:0}
#form-1 ul{width:85%;overflow:hidden;margin:0 auto}
#form-1 .name{float:left;width:20%}
#form-1 .enter{float:left;width:80%}

#form-2{overflow:hidden;padding:0;text-align:center}
#form-2 div{float:left;width:33%}
#form-2 #other-left{width:26%}
#form-2 #other-right{width:65%}

#send{padding:0 0 10% 0}
#earthman{height:173px;}
} 

@media screen and (min-width: 1024px){
article{font:300 27px "微軟正黑體";line-height:1.7em}
#form-1 .text,#form-2 .text{font:300 27px "微軟正黑體"}

#info h2{font:300 44px "微軟正黑體"}
#info strong{font:300 56px "微軟正黑體"}

.title h3{font:300 90px "微軟正黑體"}
.title p{color:#fff}
.title{padding:10% 0 0 0}

.form{float:right;width:55%;border-top:1px solid #fff}

#form-1 ol{padding:19% 0}
#form-1 ul{width:85%;overflow:hidden}
#form-1 .name{float:left;width:20%}
#form-1 .enter{float:left;width:80%}

#form-2{overflow:hidden;padding:11% 0}
#form-2 div{float:left;width:33%}
#form-2 #other-left{width:20%}
#form-2 #other-right{width:65%}

#send{padding:0 0 10% 0}
#earthman{height:223px;}
}