
/*-----------------------------------------------------------------------全域---*/

html{font:300 12pt 微軟正黑體,Arial;width:100%}
body{font:300 12pt 微軟正黑體,Arial;width:100%;-webkit-text-size-adjust: none}
a{font:300 12pt 微軟正黑體,Arial;text-decoration:none}
.limit{width:95%;margin:0 auto}
.flt{overflow:hidden;margin:0 auto;clear:both}

/*-----------------------------------------------------------------------頁首---*/

header{background:#00C5D5}

aside{max-width:1024px;margin:0 auto;padding:50px 0 25px 0;background:url(../images/back.png) 5px 49px no-repeat;
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease}
aside a{color:#222;font:300 20pt 微軟正黑體,Arial;display:block;width:190px;padding:0 0 0 50px;text-shadow:0 1px 0 #54E8F9;
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease}
aside:hover{background:url(../images/back.png) 0 49px no-repeat}

#banner{width:100%;background:url(../images/service-header.png) center top no-repeat;border-bottom:1px solid #00B3C1;background-size:contain;
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease}

header h1{background:#00DDF6;text-align:center;font-family:微軟正黑體,Arial;font-weight:300;color:#19293E;text-shadow:0 1px 0 #54E8F9;border-top:3px double #00CAE0;border-bottom:3px double #00CAE0;box-shadow:0 -5px 10px #00B9C8;padding:2% 0}
header h1 span{font:300 9pt 微軟正黑體,Arial;position:relative;top:-6px;padding:0 6px}

/*-----------------------------------------------------------------------頁身---*/

article{font:300 微軟正黑體,Arial;line-height:2em;
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease}
article h2{font-weight:300;font-family:微軟正黑體,Arial}
article p{padding:3% 0}
article .box{padding:5% 0}
#list{background:#AACF85;border-top:5px solid #fff;overflow:hidden;text-shadow:0 1px 0 #BFE59A}
#list h2{padding:100px 0 2% 0;text-shadow:0 1px 0 #CFFDA2}

#box1{float:left}
#box1 h2{background:url(../images/service-icon1.png) center 0 no-repeat}
#box2{float:right}
#box2 h2{background:url(../images/service-icon2.png) center 0 no-repeat}

#client{text-align:center}

/*-----------------------------------------------------------------------頁腳---*/

#forest{width:100%;height:134px;background:url(../images/forest.png) 70% bottom no-repeat}
footer{background:#000;padding:2% 0}
#contact{float:left;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease}
#contact a{color:#bcdde3;text-shadow:0 -1px 0 #000;display:block;background:url(../images/contact-1.png) 0 0 no-repeat;text-align:center;background-size:contain}
#contact a:hover{color:#23fde6}
#contact a:active{background:url(../images/contact-2.png) 0 0 no-repeat;background-size:contain;color:#23fde6;position:relative;top:1px}
#contact a span{font-weight:700}
#logo{float:right;background-image:url(../images/logo.jpg);background-repeat:no-repeat;background-size:contain;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease}
#logo a{display:block;width:100%;height:100%}

/*-----------------------------------------------------------------------IE8---*/

.limit{max-width:1024px;margin:0 auto}
#banner{height:252px}
header h1{font-size:28pt;letter-spacing:.1em}
article{font-size:13pt}
article h2{font-size:28pt}
#box1{width:45%}
#box2{width:45%}
#list{text-align:left}
#list h2{border-bottom:1px solid #000}

#contact{width:237px;padding:0 0 0 38%}
#contact a{font-size:20pt;padding:20px 0 0 0;width:237px;height:79px;}
#logo{float:right;background-image:url(../images/logo.jpg);background-repeat:no-repeat;background-size:contain;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease}
#logo a{display:block;width:100%;height:100%}
#gplus{float:right;color:#fff;font:300 9pt 微軟正黑體,Arial;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease}
#gplus a{color:#fff;font:300 9pt 微軟正黑體,Arial}

/*-----------------------------------------------------------------------適應---*/

@media screen and (max-width: 581px){
#banner{height:110px}
header h1{font-size:20pt}
article{font-size:11pt}
article h2{font-size:20pt}
#box1{width:100%}
#box2{width:100%}
#list{text-align:center}
#list h2{border-bottom:3px solid #000}

#contact{width:100%;padding:0}
#contact a{font-size:16pt;width:187px;height:62px;padding:15px 0 0 0;margin:0 auto}
#logo{width:100%;height:50px;background-position:center 0;margin:5% 0 0 0}
#gplus{width:100%;text-align:center}
}

@media screen and (min-width: 582px) and (max-width: 1023px){
#banner{height:181px}
header h1{font-size:24pt;letter-spacing:.1em}
article{font-size:12pt}
article h2{font-size:22pt}
#box1{width:45%}
#box2{width:45%}
#list{text-align:left}
#list h2{border-bottom:1px solid #000}

footer .limit{width:95%}
#contact{width:50%;padding:0}
#contact a{font-size:18pt;width:187px;height:62px;padding:15px 0 0 0}
#logo{width:50%;height:50px;background-position:90% center}
#gplus{width:50%;text-align:right;padding:0 5% 0 0}
} 

@media screen and (min-width: 1024px){
.limit{max-width:1024px;margin:0 auto}
#banner{height:252px}
header h1{font-size:28pt;letter-spacing:.1em}
article{font-size:13pt}
article h2{font-size:28pt}
#box1{width:45%}
#box2{width:45%}
#list{text-align:left}
#list h2{border-bottom:1px solid #000}

#contact{width:733px;height:80px;padding:0 0 0 39%}
#contact a{font-size:20pt;padding:20px 0 0 0;width:237px;height:79px}
#logo{width:291px;height:80px}
#gplus{width:291px;text-align:center}
}