<section id="vert">
  <section class="login">
    <%= form_for(@admin, :url => admin_loginCheck_path(@admin)) do |f| %>
    <ul>
      <li>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th align="center">帳號</th>
            <td><%= f.text_field :username, :autocomplete => "off" %></td>
          </tr>
        </table>
      </li>
      <li>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th align="center">密碼</th>
            <td><%= f.password_field :password, :autocomplete => "off" %></td>
          </tr>
        </table>
      </li>
    </ul>
    <% end %>

    <section class="button" id="btnLogin"><a href="#"><img src="/images/login.png">登入</a></section>
    <!--button-->
  </section>
</section>
<!--vert--> 

<script type="text/javascript">
<% if (flash[:loginCheck]) %>
Alertify.log.error("帳號或密碼錯誤，登入失敗");
<% end %>
$("#main").addClass("login-main");
$("#btnLogin").click(function(){
  $("form").submit();
});

$("#admin_password").keydown(function(event){
  if (event.keyCode == 13){
    $("form").submit();
  }
});
</script>