body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #CCCCCC;
}
.gray_11px {
	font-family: "微軟正黑體";
	font-size: 11px;
	color: #595959;
}
a:link {
	text-decoration: none;
	color: #595959;
}
a:visited {
	text-decoration: none;
	color: #595959;
}
a:hover {
	text-decoration: none;
	color: #595959;
}
a:active {
	text-decoration: none;
	color: #595959;
}

a.link2:link {
	text-decoration: none;
	color: #A6A6A6;
}
a.link2:visited {
	text-decoration: none;
	color: #A6A6A6;
}
a.link2:hover {
	text-decoration: none;
	color: #A6A6A6;
}
a.link2:active {
	text-decoration: none;
	color: #A6A6A6;
}

/*最外面的框*/
#bigbody {
	margin:auto;
	position: relative;
	width: 960px;
	height: 800px;
	z-index: 1;
}

/*微軟logo*/
#defaultmlogo{
	top: 24px;
	left: 797px;
	position: absolute;
	width: 142px;
	height: 23px;
	z-index: 1;
}


/*遊戲LOGO*/
#defaultplaylogo{
	top: 49px;
	left: 445px;
	position: absolute;
	width: 167px;
	height: 74px;
	z-index: 1;
}

/*主標*/
#detitle{
	top: 123px;
	left: 25px;
	position: absolute;
	width: 460px;
	height: 114px;
	z-index: 1;

}

/*文字*/

#deword{
	top: 361px;
	left: 40px;
	position: absolute;
	width: 373px;
	height: 226px;
	z-index: 1;

}

/*按鈕*/


#debtn1{
	top: 279px;
	left: 106px;
	position: absolute;
	width: 201px;
	height: 42px;
	z-index: 1;

}


#debtn2{
	top: 533px;
	left: 32px;
	position: absolute;
	width: 308px;
	height: 174px;
	z-index: 1;

}

#debtn3{
	top: 238px;
	left: 525px;
	position: absolute;
	width: 319px;
	height: 79px;
	z-index: 1;

}


#debtn4{
	top: 699px;
	left: 854px;
	position: absolute;
	width: 73px;
	height: 100px;
	z-index: 1;

}

#depeople{
	top: 322px;
	left: 405px;
	position: absolute;
	width: 547px;
	height: 444px;
	z-index: 1;

}


/*----以下為遊戲頁用----*/
/*背景*/


#bg{
    margin: auto;
	top: 0px;
	left: 0px;
	position: relative;
	width: 960px;
	height: 800px;
	z-index: 1;
}


/*mslogo*/
#mslogo{
	top: 14px;
	left: 18px;
	position: absolute;
	width: 142px;
	height: 23px;
	z-index: 1;
}



/*回首頁*/
#goindex{
	top: 12px;
	left: 903px;
	position: absolute;
	width: 39px;
	height: 34px;
	z-index: 5;
}

/*遊戲標題*/
#gamelogo{
	top: 52px;
	left: 48px;
	position: absolute;
	width: 387px;
	height: 221px;
	z-index: 1;
}


/*問題*/
#question1{
	top: 43px;
	left: 485px;
	position: absolute;
	width: 444px;
	height: 341px;
	z-index: 1;
}

#question2{
	top: 24px;
	left: 499px;
	position: absolute;
	width: 447px;
	height: 320px;
	z-index: 1;
}

#question3{
	top: 49px;
	left: 499px;
	position: absolute;
	width: 447px;
	height: 285px;
	z-index: 1;
}


/*選擇拖曳按鈕*/

#choose1{
	top: 91px;
	left: 526px;
	width: 60px;
	height: 49px;
	z-index:3;
	position: absolute;
}

#choose2{
	top: 160px;
	left: 549px;
	width: 60px;
	height: 49px;
	z-index:3;
	position: absolute;
}

#choose3{
	top: 225px;
	left: 512px;
	width: 60px;
	height: 49px;
	z-index:3;
	position: absolute;
}

#choose4{
	top: 301px;
	left: 526px;
	width: 60px;
	height: 49px;
	z-index:3;
	position: absolute;
}

#choose5{
	top: 72px;
	left: 542px;
	position: absolute;
	width: 60px;
	height: 49px;
	z-index:3;
}

#choose6{
	top: 158px;
	left: 576px;
	position: absolute;
	width: 60px;
	height: 49px;
	z-index:3;
}

#choose7{
	top: 231px;
	left: 510px;
	position: absolute;
	width: 60px;
	height: 49px;
	z-index:3;
}

#choose8{
	top: 99px;
	left: 544px;
	position: absolute;
	width: 60px;
	height: 49px;
	z-index:3;
}

#choose9{
	top: 169px;
	left: 525px;
	position: absolute;
	width: 60px;
	height: 49px;
	z-index:3;
}

#choose10{
	top: 241px;
	left: 536px;
	position: absolute;
	width: 60px;
	height: 49px;
	z-index:3;
}


/*慰留信*/
#letterbox1{
	top: 369px;
	left: 459px;
	position: absolute;
	width: 208px;
	height: 236px;
	z-index:1;
}

#letterbox2{
	top: 542px;
	left: 568px;
	position: absolute;
	width: 189px;
	height: 234px;
	z-index:1;
}

#letterbox3{
	top: 365px;
	left: 658px;
	position: absolute;
	width: 210px;
	height: 248px;
	z-index:1;
}

#letterbox4{
	top: 503px;
	left: 752px;
	position: absolute;
	width: 202px;
	height: 236px;
	z-index:1;
}

#letterbox5{
	top: 498px;
	left: 18px;
	position: absolute;
	width: 224px;
	height: 253px;
	z-index:1;
}

#letterbox6{
	top: 325px;
	left: 144px;
	position: absolute;
	width: 222px;
	height: 251px;
	z-index:1;
}

#letterbox7{
	top: 504px;
	left: 262px;
	position: absolute;
	width: 222px;
	height: 263px;
	z-index:1;
}

#letterbox8{
	top: 317px;
	left: 591px;
	position: absolute;
	width: 205px;
	height: 241px;
	z-index:1;
}

#letterbox9{
	top: 517px;
	left: 528px;
	position: absolute;
	width: 222px;
	height: 255px;
	z-index:1;
}

#letterbox10{
	top: 473px;
	left: 736px;
	position: absolute;
	width: 207px;
	height: 236px;
	z-index:1;
}

/*慰留信感應區*/

#listbox1{
	top: 408px;
	left: 578px;
	position: absolute;
	width: 64px;
	height: 56px;
	z-index:2;
}

#listbox2{
	top: 566px;
	left: 671px;
	position: absolute;
	width: 64px;
	height: 56px;
	z-index:2;
}

#listbox3{
	top: 399px;
	left: 676px;
	position: absolute;
	width: 64px;
	height: 56px;
	z-index:2;
}

#listbox4{
	top: 550px;
	left: 857px;
	position: absolute;
	width: 64px;
	height: 56px;
	z-index:2;
}

#listbox5{
	top: 533px;
	left: 149px;
	position: absolute;
	width: 64px;
	height: 56px;
	z-index:2;
}

#listbox6{
	top: 362px;
	left: 271px;
	position: absolute;
	width: 64px;
	height: 56px;
	z-index:2;
}

#listbox7{
	top: 542px;
	left: 365px;
	position: absolute;
	width: 64px;
	height: 56px;
	z-index:2;
}

#listbox8{
	top: 353px;
	left: 707px;
	position: absolute;
	width: 64px;
	height: 56px;
	z-index:2;
}

#listbox9{
	top: 544px;
	left: 633px;
	position: absolute;
	width: 64px;
	height: 56px;
	z-index:2;
}

#listbox10{
	top: 520px;
	left: 848px;
	position: absolute;
	width: 64px;
	height: 56px;
	z-index:2;
}

/*人物1*/
#employee1{
	top: 397px;
	left: 1px;
	position: absolute;
	width: 511px;
	height: 388px;
	z-index: 1;
}

#employee2{
	top: 324px;
	left: 437px;
	position: absolute;
	width: 498px;
	height: 405px;
	z-index: 1;
}

#employee3{
	top: 377px;
	left: 21px;
	position: absolute;
	width: 516px;
	height: 377px;
	z-index: 1;
}

/*人數*/

#people1{
	top: 729px;
	left: 749px;
	position: absolute;
	width: 211px;
	height: 71px;
	z-index: 1;
}

/*版權*/
#copy_right{
	top: 770px;
	left: 25px;
	position: absolute;
	width: 700px;
	height: 30px;
	z-index: 1;
}

#copy_right2{
	top: 596px;
	left: 134px;
	position: absolute;
	width: 700px;
	height: 30px;
	z-index: 1;
}


#copy_right3{
	top: 768px;
	left: 130px;
	position: absolute;
	width: 700px;
	height: 30px;
	z-index: 1;
}
