/*---全域背景---*/
html,.login-main{background:image-url("bg.jpg") center 50px no-repeat #EFEDE1!important;background-size:contain}

/*---上方列---*/
header{background:#76B800;border-color:#69A300}

/*---標題---*/
h1 a{text-shadow:0 1px 0 #578700}

/*---內容邊框---*/
article{border:1px solid #e0e0e0}

/*---頁尾---*/
footer{color:#666;text-shadow:0 1px 0 #fff}
footer a{color:#666;text-shadow:0 1px 0 #fff}

/*---內容---*/
#nav-1{background-image:image-url("nav-01.png")}
#nav-2{background-image:image-url("nav-02.png")}
nav .active #nav-1{background-image:image-url("nav-01a.png")}
nav .active #nav-2{background-image:image-url("nav-02a.png")}

@media screen and (max-width: 543px){
#nav-ctrl,aside{background:#76B800;border:1px solid #76B800}
#nav-ctrl:hover,aside:hover{background:#578700}
#nav-ctrl:active,aside:active{background:#578700}
}

@media screen and (min-width: 544px) and (max-width: 896px){
nav .active a{border-color:#E0E0E0}
#aside-box a{border:1px solid #578700;background:#578700;color:#eee}
#aside-box a:hover{background:#fff;color:#578700}
nav li a{color:#666;text-shadow:0 1px 0 #fff}
}

@media screen and (min-width: 897px){
nav .active a{border-color:#E0E0E0}
#aside-box a{border:1px solid #578700;background:#578700;color:#eee}
#aside-box a:hover{background:#fff;color:#578700}
nav li a{color:#666;text-shadow:0 1px 0 #fff}
}

