
/*-----------------------------------------------------------------------選單---*/

nav{width:50%}
nav h4{font-size:12pt}
nav ul{padding:20px 0 0 0}
nav a{width:63px;height:63px;font-size:13px;padding:16px 0 0 0}
nav a:hover{padding:11px 0 0 0}
nav li:nth-child(1) a,nav li:nth-child(3) a{padding:25px 0 0 0}
nav li:nth-child(1) a:hover,nav li:nth-child(3) a:hover{padding:20px 0 0 0}

/*-----------------------------------------------------------------------標題---*/

hgroup{width:50%}
hgroup h2{font-size:17pt}
hgroup h1{font-size:33pt}

/*-----------------------------------------------------------------------示範案例---*/

#title{padding:0 0 20px 0;margin:5% 0 0 0}
#title a{max-width:38%}

/*-----------------------------------------------------------------------頁身---*/

article{font-size:13pt}
article .limit{padding:3% 0 0 0}
article h3{font-size:17pt}
article p{padding:1% 0}
article .imgbox{width:100%;text-align:center}

/*-----------------------------------------------------------------------連結---*/

#link{width:50%;text-align:right}
#link a{}
#arr{width:50%;background-position:10% bottom;
-webkit-animation:arr2 1s ease-in-out infinite alternate;
-moz-animation:arr2 1s ease-in-out infinite alternate}

/*-----------------------------------------------------------------------頁腳---*/

footer .limit{width:95%}
#contact{width:50%}
#contact a{font-size:18pt;width:187px;height:62px;padding:15px 0 0 0}
#logo{width:50%;height:50px;background-position:90% center}
#gplus{width:50%;text-align:right;padding:0 5% 0 0}
