
/*-----------------------------------------------------------------------頁首---*/

header{background:url(../images/header.png) -580px -75px no-repeat;}
#banner{padding:50px 0 0 0;height:280px}
header h1 {font-size:35pt;width:480px;height:140px;background-position:0 0;padding:10px 0 0 190px;margin:0 auto;line-height:1.2em}
header h2{font-size:32pt}
header h3{font-size:18pt}

#title,#title a{font-size:13pt}

/*-----------------------------------------------------------------------頁身---*/

article{font-size:13pt}
article h4{font-size:18pt}

/*-----------------------------------------------------------------------連結---*/

#link{width:50%;text-align:right}
#arr{width:50%;height:182px;background-position:10% bottom;
-webkit-animation:arr2 1s ease-in-out infinite alternate;
-moz-animation:arr2 1s ease-in-out infinite alternate}

/*-----------------------------------------------------------------------頁腳---*/

footer .limit{width:95%}
#contact{width:50%}
#contact a{font-size:18pt;width:187px;height:62px;padding:15px 0 0 0}
#logo{width:50%;height:50px;background-position:90% center}
#gplus{width:50%;text-align:right;padding:0 5% 0 0}
