body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	/*background-image: url(images/background.jpg);*/
	background-repeat: no-repeat;
	background-color:#FFFFFF;
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;

	
}

a:link {
	text-decoration: none;
	color: #008AF0;
}
a:visited {
	text-decoration: none;
	color: #008AF0;
}
a:hover {
	text-decoration: none;
	color: #008AF0;
}
a:active {
	text-decoration: none;
	color: #008AF0;
}

a.link2:link {
	text-decoration: none;
	color: #CC0000;
}
a.link2:visited {
	text-decoration: none;
	color: #CC0000;
}
a.link2:hover {
	text-decoration: none;
	color: #CC6600;
}
a.link2:active {
	text-decoration: none;
	color: #CC0000;
}


/*最外框*/
#bigbody {
	width: 955px;
	height: 700px;
	overflow: hidden;
	position:relative;
	margin: 0 auto;
	background-image:url(images/background.jpg);
	background-repeat: no-repeat;
	background-color:#FFFFFF;
	z-index: 1;
}

/*側選單*/

.slide-out-div {
	   width: 325px;
	   height: 296px;;
	   background-image:url(images/sidemenu_01.png);
	   z-index:10
}

/*title圖*/
#indextitle{
	width: 617px;
	height: 206px;
	top: 74px;
	left: 186px;
	position: absolute;
	z-index: 2;
}

/*側選單的影子*/
#sideshadow{
	width: 21px;
	height: 296px;
	top: 186px;
	left: 0px;
	position: absolute;
	z-index: 1;
}

/*首頁兩張圖*/
#indexpoint{
	width: 842px;
	height: 166px;
	top: 257px;
	left: 59px;
	position: absolute;
	z-index: 1;
}

/*首頁底*/
#indexleg{
	width: 887px;
	height: 53px;
	top: 567px;
	left: 36px;
	position: absolute;
	z-index: 3;
}

/*首頁按鈕*/
#indexbtn{
	width: 483px;
	height: 179px;
	top: 431px;
	left: 312px;
	position: absolute;
	z-index: 4;
}
